# exclude file extensions
workspace.code-workspace
.sasjslint
*.webprj
*.session
*.bak
*~
*.xlsx
*.csv
.csv
.xlsx
*.txt
*.tmp
*.lst
*.log
*.aux
*.bbl
*.backup
*.blg
*.brf
*.out
*.html
_*.sas
*.eml
.titles
.versions
.xref
.directory
# special files
Distfile
HEADER
.dir.*
*-archive.sas
*-bugged.sas
*-save.sas
*-old.sas
# exclude directories
mtest/
out/
ref/
test/
macros/
sas/macros/*.sas
sas/test/
archive/
.vscode/
.sasjslint

